body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.advising-pills{
  margin: 20px 0 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pill{
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#pill-body{
  flex-direction: column;
  font-size: 2rem;
  min-width: 95%;
  max-width: 95%;
  border-radius: 30px;
  border: 2px solid black;
  margin: 13px 0 13px 0;
}

.img-container{
  display: flex;
  justify-content: center;
  max-width: 40px;
  min-width: 40px;
  margin: 0 5px 0 5px;
}

.svg-inline--fa.fa-w-16.college-circle{
  width: 15px;
  height: 15px;
}

.fa-plus-circle, .fa-minus-circle, .fa-angle-double-down, .fa-university{
  color:#1E4D2B;
}

a[aria-expanded='true'] .fa-plus-circle{
  display: none;
}

a[aria-expanded='false'] .fa-minus-circle{
  display: none;
}

#college-card{
  max-width: 320px;
  min-width: 320px;
  display: flex;
  margin: 15px 10px 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.card-header{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 65px;
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
}

.card-body{
  margin: 5px 0 5px 0;
  padding: 0 8px 0 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-img-top{
  border-radius: 7px;
}

.department, .department-expanded{
  display: flex;
  font-size: .9rem;
  margin: 5px 10px 5px 10px;
}

.dropdown{
  width: 100%;
  flex-direction: column;
  flex-flow:column-reverse;
  margin: 0 0 10px 0;
  border: .0001px solid transparent;
}

.dropdown-icon{
  margin-right: auto;
  margin-left: auto;
  font-size: 1.3rem;
}

.dropdown-icon[aria-expanded="false"]{
  transition: .5s;
}

.dropdown-icon[aria-expanded="true"]{
  transition: .5s;
  transform: rotate(180deg);
}

.major{
  font-size: .8rem;
  margin: 2px 0 2px 14px;
  padding: 0;
  color: #7C8776;
  text-decoration: underline;
}

.major:hover{
  color: #7C8776; 
}

#majors{
  margin: 5px 0 5px 0;
  padding: 0 8px 0 8px;
  display: flex;
  flex-direction: column;
}