body {
  margin: 0px;
}

#banner{
  height: 100px;
  width: 100%;
  background-color: rgba(30, 77, 43, 0.95);
}

#csu-header-title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 27px;
  color: white;
  text-transform: uppercase;
  display: inline;
  margin: 0px;
}

.img-fluid {
  height: 80px;
  width: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

#header-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}