.header-navbar {
  background-color: #1e4d2b;
  width: 100%;
}

#header-title, #header-title-mobile, #header-advising, #header-advising-mobile {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  text-transform: uppercase;
  display: inline;
}

#header-title {
  font-size: 1.4rem;
}

#header-title-mobile {
  font-size: 25px;
}

#header-vertical-bar {
  height: 75px;
  border-left: 1.9px solid white;
}

#header-vertical-bar-mobile {
  height: 45px;
  border-left: 1.5px solid white;
}

#header-advising{
  font-size: 1.4rem;
}

.nav-link{
  font-size: .9rem;
  border-bottom: 3px solid transparent;
  margin-left: 3px;
  margin-right: 3px;
}

.nav-link:first-child{
  margin-left: 0;
}

.nav-link:last-child{
  margin-right: 0;
}

.current-link{
  border-bottom: 3px solid white;
}

.nav-link:hover{
  border-bottom: 3px solid white;
}

#home-tab-collapse:hover, #when-to-seek-advising-tab-collapse:hover, #find-advising-tab-collapse:hover, #additional-resources-tab-collapse:hover, #for-advisors -tab-collapse:hover {
  color: rgb(47, 240, 111);
}

@media(max-width: 991px){
  .nav-link:hover{    
    border-bottom: 3px solid transparent;
  }

  #home-tab, #when-to-seek-advising-tab, #find-advising-tab, #additional-resources-tab, #for-advisors-tab {
    display: none;
  }
}

@media(min-width: 992px){
  #home-tab-collapse, #when-to-seek-advising-tab-collapse, #find-advising-tab-collapse, #additional-resources-tab-collapse, #for-advisors-tab-collapse{
    display: none;
  }
}