.offered{
    background: rgb(180, 243, 195);
    margin: 15px;
}

.not-offered{
    background: rgb(255, 179, 179);
    margin: 15px;
}

.offered-header, .not-offered-header{
    text-align: center;
}

#header-hr {
    width: 80%;
    margin-top: 0px;
    margin-bottom: 15px;
}

#offerings-hr {
    width: 100%;
    margin-top: 0px;
}