html {
    box-sizing: border-box;
}

.what-advisors-do-panel{
    display: flex;
    flex: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.advisors, .students {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}
.advising-img {
    width: 350px;
}
